.weather-main{
 display:flex;
 justify-content:center;
 gap:20px;
 font-size:30px;
}

.temperature{
 font-size:40px;
}

.weather-details{
 margin-top:10px;
}

.detail{
 margin:5px 0;
}